<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>cart</title>
    <style>
        .active {
            background-color: #ddd;
        }
    </style>
</head>
<body>
    
    <div id="app">
        <!-- 差值 -->       
       <h2>
           {{title}}
       </h2>
       <!-- 数据交互 -->
      <add-courtes v-model='courte' @add-courte9="addCourte"></add-courtes>
      <!-- <add-courtes :value='courte' @input='courte=$event'  @add-courte9="addCourte"></add-courtes> -->
       <!-- calss -->
       <!-- <div v-for="item in courtes" :key="item" :class='{active: selecedCourte === item}' @click='selecedCourte = item'>
           <div> {{ item }} </div>
       </div> -->
       <!-- style -->
       <!-- <div class="course-list" v-if='courtes.length > 0'>
         <div v-for="item in courtes" :key="item" :style="{'background-color': selecedCourte === item ? '#ddd' : ''}" @click='selecedCourte = item'>
            <div> {{ item }} </div>
          </div> 
       </div> -->
       <!-- 条件渲染 -->
    
       <courtes-list :courtes='courtes'> </courtes-list>     
       <!-- 商品总数 -->
       <!-- 计算属性 -->
       <!-- <p>
           课程总数：{{total}}
       </p> -->
       <!-- watch实现 -->
       课程总数：{{total_count}}
       
    </div>
    <script src="./js/vue.js"></script>
</body>

<script>
    //模拟异步请求数据
    function getCourtes() {
        return new Promise( resolve => {
            setInterval(() => {
                resolve(['web全栈', 'web高级'])
            }, 1000);
        })
    }

    // 课程列表组件
    Vue.component('courtes-list', {
        data() {
            return {
                selecedCourte: ''
            }
        },
        props: {
            courtes:{
                type: Array,
                default: [],
            }
        },
        template: `
            <div>
                <div class="course-list" v-if='courtes.length > 0'>
                <div v-for="(item, i) in courtes" :key="i" :style="{'background-color': selecedCourte === item ? '#ddd' : ''}" @click='selecedCourte = item'>
                <div> {{ item }} </div>
                </div> 
                </div>
                <p v-else>没有任何课程信息</p>
            </div>
        `
    })

    Vue.component('add-courtes', {
        // data() {
        //     return {
        //         courte: '',
        //     }
        // },
        props: ['value'],
        
        template: `
            <div>
                <input @input='oninput' @keydown.enter='addCourte' type="text" :value='value' /><button @click='addCourte'>添加课程</button>    
            </div>
        `,
        methods: {
            addCourte () {
                //派发一个事件  来通知父组件新增课程
                this.$emit('add-courte9');
                
                 
            },
            oninput (e) { 
                this.$emit('input', e.target.value)
            }

        },
      
    })
    const app = new Vue({
        el: '#app',
        data() {
            return {
                title: '课程购物车',
                total_count: 0,
                courte: '',
                courtes:[]
            }
        },
        methods: {
            onclick() {
                this.title = 'muah~ 是 vue 呀'
            },
            addCourte () {
                if(this.courte) {
                    this.courtes.push(this.courte)
                    this.courte = '';
                }else {
                    alert('添加的课程不能为空')
                }
            },
    
        },
        async created () {
            //组件实例已创建 未挂载 dom 不存在
            const c =  await getCourtes();
            this.courtes = c;
        },
        mounted () {
            //已挂载 dom已存在   

        },
        computed: {
            // 计算属性具有缓存的属性 如果不变化不会重新计算 
            total() {
                return this.courtes.length + '门'
            }
        },
        // 默认情况下 只有发生变化才会监听  初始化时不监听
        // watch: {
        //     courtes(newValue, oldValue) {
        //         this.total_count = newValue.length + '门'
        //     }
        // },
        // 初始化时就会监听的watch
        watch: {
            courtes: {
                immediate: true, //立即执行一次
                deep: true,
                handler(newValue, oldValue) {
                    this.total_count = newValue.length + '门'
                }
            }
        },
    });
    



</script>

</html>